<ion-view title="{{pageTitle}}">
  <ion-content class="padding">
    <pre class="padding">{{stateInfo | json}}</pre>  <pre class="padding">{{stateParams | json}}</pre>
    <ion-list>
      <!-- add a section header -->
      <ion-item class="item-divider">Object Detail</ion-item>
     {{person}}
    </ion-list>

    <h1>{{person.name}}</h1>
    <h3>{{person.reknown}}</h3>
    <p>{{person.bio}}</p>
  </ion-content>
</ion-view>
