
<ion-view title="{{pageTitle}}" ng-model="service">
  <ion-content class="padding">
    <ion-list>
      <!-- add a section header -->
      <ion-item class="item-divider">List of Objects</ion-item>
      <!-- iterate thru each item in the list, use $index as item identifier -->
      <ion-item ng-repeat="item in itemsList track by $index" ng-click="detailClick(item)">
        {{$index}} - {{item.name}} - {{item.reknown}}
        <p>Item = {{item | json}} $index= {{$index}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
      <p>{{data}}</p>

</ion-view>



