<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-app="starter">
<div class="bar bar-header bar-dark">
  <button class="button icon ion-navicon"></button>
  <h1 class="title">MentorMe</h1>
</div>
<ion-content>
  <h1>Mentor List</h1>
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
  <div ng-controller="myController">

    <ul class="list">
      <li class="item item-thumbnail-left" ng-repeat="item in mentor | filter: query | orderBy: mentorOrder:direction">
          <img ng-src="img/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}" class="">
          <div class="info">
          <h2>{{item.name}}</h2>
          <h3>{{item.reknown}}</h3>
        </div>
      </li>
    </ul>
    <p>{{data}}</p>
    <button ng-click="myClicked()" class="button button-block button-positive">Test</button>
  </div>
</ion-content>
<div class="bar bar-footer bar-balanced">
  <div class="title">Social Bar</div>
  </div>
</body>
</html>

